{% extends "layouts/default.layout.html" %}

{% block title %} {% endblock %}

{% block layout %}

<main class="mih-100vh mx-auto bgc-black">

  <section class="wrapper-3xs pt-10">

    {% for todo in todos %}
    <div class="box spacer-lg {% if todo.completed == 'true' %} bgc-teal {% else %} bgc-black-ltn-3 {% endif %}  bdrds-3">
      <div class="box-wrapper">
        <div class="row">
          <div class="col-8 p-3">
            <span class="box-text c-white">{{ todo.title|title }}</span>
          </div>
          <div class="col-4">
            <ul class="list d-flex">
              <li class="list-item {% if todo.completed == 'true' %} vis-hidden {% endif %} ">
                <form action="/complete_todo" method="POST">
                  <input type="text" class="d-none" id="todo-title" name="el" value="{{ todo.title }}" >
                  <button type="submit">
                    <i class="bi bi-check-circle fs-4xl my-auto c-green"></i>
                  </button>
                </form>
              </li>
              <li class="list-item">
                <form action="/delete_todo" method="POST">
                  <input type="text" class="d-none" id="todo-title2" name="el" value="{{ todo.title}}">
                  <button type="submit">
                    <i class="bi bi-trash fs-4xl my-auto c-red-ltn-2"></i>
                  </button>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}

  <div class="c-white pos-fixed fixed-bottom b-0">
    <form action="/add_todo_item" method="POST">
      <input type="text" class="input bgc-black-ltn-3 pt-4 pb-3" name="todo-item" placeholder="Todo Item">
      <button type="submit"><i class="bi bi-plus-circle fs-3xl ml-3"></i></button>
    </form>
  </div>
  </section>
</main>

{% endblock %}


